/* SCSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Lato|Lobster);

html, body{
  height: 95%;
}
body{
  .page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
  }
  .footer, .push {
    height: 5em;
    clear: both;
  }
  background:#D1DBBD;
  font-family: 'Lato';
  h1{
    font-family: 'Lobster';
  }
  #holder{
    width: 80%;
  }
  header.navbar{
    background:#91AA9D;
    border-bottom: 2px solid #3E606F;
    width: 100%;
    padding: 10px;
    ul.loginInfo{
      #login-dropdown-list{
        position: absolute;
        background: ivory;
        padding: 15px;
        border-radius: 5px;
        width: 260px;
        top: 26px;
        left: -195px;
      }
    }
    a{
      color: #193441;
    }
    a.brand{
      img{
        width: 50px;
      }
      span.logoText{
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
  .container{
    .col-md-12{
      h1{
        text-align: center;
      }
    }
  }
  h1, h2, h3{
    text-align:center;
  }
  .todo-item{
    .panel-footer{
      display:none;
      i{
        margin-left:20px;
      }
    }
  }
}
