/* CSS declarations go here */
.loginInfo{
    position: relative;
    top: 5px;
    right: 240px;
}
header.navbar{
  background:#81DBC6;
  border-bottom: 2px solid #83928F;
  width: 100%;
  padding: 10px;
}