/* SCSS declarations go here */
/**
* Google fonts
**/

//
// This styles need to be modified to mutigate conflicts with the themes stylesheets
//
@import url(http://fonts.googleapis.com/css?family=Lato|Lobster);
@import url(http://fonts.googleapis.com/css?family=Bubbler+One);

/**
  Color declarations
**/
$header-background: #353F42;
$header-border: #3E606F;
$main-background: #A6A59B;
$text-color: #F3F5F3;
$button-background: #038C75;
$button-hover: #C5D6C5;

/**
  Main rules
**/
html, body{
  height: 95%;
  font-family: 'Bubbler One', sans-serif;
}
.animate {
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
body{
  .settingsHolder{
    h4{
      text-align: center;
      font-family: 'Bubbler One', sans-serif;
    }
    ul#themes-list{
      padding-left:0;
      list-style-type: none;
      li{
        display:block;
        vertical-align: middle;
        height: 45px;
        background: darkgray;
        background-color: rgba(216, 212, 217, 0.3);
        background: rgba(216, 212, 217, 0.3);
        color: rgba(216, 212, 217, 0.3);
        margin-bottom: 2px;
        padding-top: 12px;
        text-align: center;
        cursor: pointer;
        &:hover{
          opacity:.7;
        }
        span.color-prievew{
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 15px;
          border: 2px solid white;
          position: absolute;
          left: 32%;
        }
        .default{
          background: $main-background;
        }
        .amelia{
          background: #108a93;
        }
        .cyborg{
          background: #060606;
        }
        .slate{
          background: #272b30;
        }
        .superhero{
          background: #2b3e50;
        }
        a{

          display: block;
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

  header.navbar{
    background: $header-background;
    border-bottom: 2px solid $header-border;
    width: 100%;
    padding: 10px;
    .spinner {
      width: 30px;
      height: 30px;
      background-color: #333;
      position: absolute;
      left: 47%;
      top: 25%;
      -webkit-animation: rotateplane 1.2s infinite ease-in-out;
      animation: rotateplane 1.2s infinite ease-in-out;
    }
    ul.loginInfo{
      #login-buttons{
        a.login-link-text{
          text-decoration: inherit;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      #login-dropdown-list{
        position: absolute;
        background: $header-background;
        padding: 15px;
        border-radius: 5px;
        width: 260px;
        top: 66px;
        left: -186px;
        .login-close-text{
          text-decoration: inherit;
          &:hover{
            text-decoration: underline;
          }
        }
        label{
          color: $text-color;
        }
      }
    }
    a{
      color: $text-color;
    }
    a.brand{
      img{
        width: 50px;
      }
      span.logoText{
        font-size: 20px;
        vertical-align: middle;
        color: $text-color;
      }
    }
  }
  .row{
    font-family: 'Bubbler One', sans-serif;
    .col-lg-6{
      .desc-block{
        position: relative;
        #due-date{
          color: $header-background;
          position: absolute;
          text-align: right;
          width: 97%;
          right: 5px;
          top: 106px;
          border: none;
          border-radius: 0;
          font-family: 'Lobster';
          font-weight: normal;
          cursor: default;
        }
      }
    }
  }
  .page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    .row{
      .form-right{
        width:57%;
      }
      textarea{
        height: 285px;
        padding-top: 35px;
      }
      .custom-tooltip{
        display: none;
        position: absolute;
        top: 121px;
        left: -216px;
        background: black;
        color: aliceblue;
        padding: 5px;
        border-radius: 3px;
        .custom-tooltip-text{
          margin: 5px;
        }
        .arrow-right {
          position: absolute;
          top: 10px;
          right: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;

          border-left: 10px solid black;
        }
      }
    }
    .btn-holder{
      input{
        background: $text-color;
        color: $header-background;
        border: $header-background;
        &:hover{
          background: $button-hover;
        }
      }
      .submit{
        margin-left: 17px;
        width: 26%;
        border-radius: 16px;
      }
      #clear{
        margin-left: 32px;
      }
    }
    div#tabs, div#tabs-2.row, div#tabs-1.row, div#tabs-3.row{
      border: none;
      background: none;
      color: $text-color;
      -webkit-animation: fadein 1s; /* Safari and Chrome */
      -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera */
      animation: fadein 1s;
      ul.icon-circles{
        border:none;
        background: none;
        li{
          display: inline-block;
          border: none;
          background: none;
          width: 45px;
          height: 45px;
          text-align: center;
          margin-bottom: 10px;
          margin-right: 10px;
          i{
            margin-bottom: 5px;
          }
        }
        li.ui-tabs-active.ui-state-active{
          border: 2px solid $text-color;
          border-radius: 25px;
          width: 48px;
          height: 48px;
          padding-top: 8px;
          i{
            margin-bottom:5px;
          }
        }
      }
      hr.slick-light{
          border: 0;
          height: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          margin-top:-2px;
      }
      .themes{
        background: $header-background;
      }
      .chart{
        background: lightgrey;
      }
      #chart{
        width: 300px;
        height: 280px;
        margin:0 auto;
        color: $header-background;
      }
    }
  }
  .footer, .push {
    height: 5em;
    clear: both;
  }
  background: $main-background;
  font-family: 'Bubbler One', sans-serif;
  h1{
    font-family: 'Bubbler One', sans-serif;
  }
  #holder-completed, #holder-uncompleted{
    width: 100%;
  }
  .container{
    .col-md-12{
      h1{
        text-align: center;
      }
    }
  }
  h1, h2, h3{
    text-align:center;
    font-family: 'Bubbler One', sans-serif;
  }
  .todo-item{
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -moz-animation: fadein 1s; /* Firefox */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera */
    animation: fadein 1s;
    border: $main-background;
    .panel-heading{
      border-bottom: 1px solid $header-background;
      background: $header-background;
      .todo-title{
         width:45%;
      }
      p{
        color: $text-color;
        padding: 5px;
        vertical-align: middle;
        margin-top: 0;
      }
      .info-editable{
        word-break: break-all;
        &:focus{
          background: ivory;
          color: $header-background;
        }
      }
    }
    .panel-body{
      min-height: 100px;
      p{
        overflow-wrap: break-word;
        color: $header-background;
      }
    }
    .panel-footer{
      border-top: 1px solid $header-background;
      display:none;
      a{
        cursor: pointer;
      }
      i{
        margin-left:20px;
        color: lightslategray;
        &:hover{
          color: $header-background;
        }
      }
    }
  }
  .todo-completed{
    .panel-heading {
      background: lightgray;
      p{
        color: $header-background;
      }
      .todo-title {
        text-decoration: line-through;
        width: 45%;
      }
      .info-editable{
        word-break: break-all;
        &:focus{
          background: ivory;
          color: $header-background;
        }
      }
    }
    .panel-body{
      background: url("/img/Completed_stamp.png") #ffffff no-repeat top right;
      p{
        overflow-wrap: break-word;
        color: $header-background;
      }
    }
    .panel-footer{
      background: lightgray;
    }
  }
}
/**
*   Keyframes rules
*/
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}